<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            <i class="fa fa-certificate" aria-hidden="true"></i> Certificates
        </h3>
        <p class="panel-title" style="text-align: right;">
            <a href="edit/certificates" class="navbar-link" style="font-size: 12px;">Edit</a>
        </p>
    </div>
    <div class="panel-body">
        <p class="center">
            <c:forEach var="certificat" items="${account.certificates}">
                <img src="${certificat.smallUrl}">
            </c:forEach>

        </p>
    </div>
</div>