<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            <i class="fa fa-bullseye" aria-hidden="true"></i> Objective
        </h3>
        <p class="panel-title" style="text-align: right;">
            <a href="/edit/edit" class="navbar-link" style="font-size: 12px;">Edit</a>
        </p>
    </div>
    <div class="panel-body">
        <h4>{{ user.position }}</h4>
        <p>
            <strong>Summary of Qualifications:</strong><br>{{ user.objective }}
        </p>
    </div>
</div>