<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            <i class="fa fa-language" aria-hidden="true"></i> Foreign languages
        </h3>
        <h3 class="panel-title" style="text-align: right;">
            <a href="edit/languages" class="navbar-link" style="font-size: 12px;">Edit</a>
        </h3>
    </div>
    <div class="panel-body">
        <c:forEach var="language" items="${account.languages}">
            <strong>${language.name}:</strong> ${language.level}(<em>${language.type}</em>)<br>
        </c:forEach>
    </div>
</div>